circle.node {
	cursor: pointer;
	stroke: #000;
	stroke-width: .5px;
}

circle.node.project {
	stroke: #9ecae1;
	stroke-width: 2px;
}

circle.node.collapsed {
	stroke: #555;
}

text {
	font: 15px sans-serif;
	pointer-events: none;
}

text.light {
	color: grey;
	fill: grey;
}

text.shadow {
	stroke: white;
	stroke-width: 5px;
	stroke-opacity: .9;
}

textpath {
	fill: blue;
	color: blue;
}

line.link {
	stroke-width: 3px;
}

line.link.unselected {
	stroke-width: 1.5px;
	stroke: #C0C0C0;
}

.linktext {
	fill: #252929;
	font-weight: bold;
	text-shadow: 0 0 0.2em white;
}

body{
	height: 100%;
	width: 100%;
}

#display{
	height: 100%;
	width: 100%;
	overflow-y: auto;
	position: fixed;
}

.leftmenu{
	display: inline-block;
	fill: #252929;
	font-weight: bold;
}

#project-menu{
	margin-left: 10px;
}

.swatch {
	display: inline-block;
	vertical-align: middle;
	width: 37px;
	height: 22px;
	float: right;
}

.node rect {
	cursor: pointer;
	fill: #fff;
	fill-opacity: 1;
	stroke: #24445C;
	stroke-width: 1.5px;
}

g.nodetext rect{
	fill: transparent;
	stroke: none;
}

.node text {
	font: 10px sans-serif;
	pointer-events: none;
}

g.text_underline rect{
	pointer-events: auto;
	cursor: pointer;
}

g.text_underline text.shadow{
	stroke: #dddddd;
}

path.link {
	fill: none;
	stroke: #9ecae1;
	stroke-width: 3px;
	stroke: #2A3F61;
}

.sidr .dropdown {
	color: white;
}

option {
	background-color: white;
	color: black;
}

hr {
	padding: 0;
	margin: 0;
	border-width: 1px;
	border-color: #aaaaaa;
}

rect.body_rect {
	stroke: #999;
	fill: white;
}

.out_of_date_indicator {
	fill: #992020;
}