circle.node {
  cursor: pointer;
  stroke: #000;
  stroke-width: .5px;
}

circle.node.project {
  stroke: #9ecae1;
  stroke-width: 2px;
}

circle.node.collapsed {
  stroke: #555;
}

.nodetext {
  fill: #252929;
  font-weight: bold;
  text-shadow: 0 0 0.2em white;
}

text {
    font: 15px sans-serif;
    pointer-events: none;
}

text.light {
	color: grey;
	fill: grey;
}

text.shadow {
	stroke: white;
	color: white;
	stroke-width: 5px;
	stroke-opacity: .9;
}

textpath {
	fill: blue;
	color: blue;
}

line.link {
  /* stroke: #9ecae1; */
  stroke-width: 3px;
}

line.link.unselected {
	stroke-width: 1.5px;
	stroke: #C0C0C0;
}

.linktext {
  fill: #252929;
  font-weight: bold;
  text-shadow: 0 0 0.2em white;
}

body{
	height: 100%;
	width: 100%;
}

#display{
	height: 100%;
	width: 100%;
	overflow-y: auto;
	position: fixed;
}

.leftmenu{
	display: inline-block;
	fill: #252929;
	font-weight: bold;
}

.rightmenu{
	display: inline-block;
	float: right;
	fill: #252929;
	font-weight: bold;
}

.swatch {
  display: inline-block;
  vertical-align: middle;
  width: 37px;
  height: 22px;
  float: right;
}

.node rect {
  cursor: pointer;
  fill: #fff;
  fill-opacity: .5;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
  pointer-events: none;
}

path.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 3px;
}

.sidr .dropdown {
	color: white;
}

option {
	background-color: white;
	color: black;
}

hr {
	padding: 0;
	margin: 0;
	border-width: 1px;
	border-color: #aaaaaa;
}

rect {
	stroke: #999;
	fill: white;
}